<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ce896d1-2f5a-4ec6-9362-8a7e39f42d6b" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-04T09:25:41</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019cb826-a8f1-703f-a1b4-6644ca752227">Home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003Elorem ipsum and so on and on\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <footerText>
      <Value><![CDATA[copyright me 2026]]></Value>
    </footerText>
    <pageTitel>
      <Value><![CDATA[Welcome to my first umbraco page]]></Value>
    </pageTitel>
  </Properties>
</Content>